<div class="card">
    <h4 class="card-header">All Reported Marshall Matters</h4>
    <div class="card-body text-right">
        <button type="button" class="btn btn-primary" (click)="showAddNewRecordForm(modalViewForRecordDetails)">
            Add New Marshall Matter
        </button>
    </div>
    <div class="card-body">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Title</th>
                    <th scope="col">Description</th>
                    <th scope="col">Up Votes</th>
                    <th scope="col">Reported On</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let record of listOfAllRecords; let i = index">
                    <th scope="row">{{ i + 1 }}</th>
                    <td>{{ record.title }}</td>
                    <td>{{ record.description }}</td>
                    <td>{{ record.upVotes }}</td>
                    <td>{{ record.createdOn }}</td>
                    <td>
                        <div class="btn-group btn-group-sm" role="group" aria-label="...">
                            <button type="button" class="btn btn-primary" (click)="showEditRecordForm(record._id, modalViewForRecordDetails)">EDIT</button>
                            <button type="button" class="btn btn-danger" (click)="deleteRecord(record._id)">DELETE</button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="card-footer text-muted text-center" [ngPlural]="listOfAllRecords.length">
        <ng-template ngPluralCase="=0">No Record</ng-template>
        <ng-template ngPluralCase="=1">1 Record</ng-template>
        <ng-template ngPluralCase="other">{{listOfAllRecords.length}} Records</ng-template>
    </div>
</div>

<ng-template #modalViewForRecordDetails let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title" *ngIf="modalViewForRecordDetails_IsOpenForAddNew == true">Add Member</h4>
        <h4 class="modal-title" *ngIf="modalViewForRecordDetails_IsOpenForAddNew == false">Edit Member</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label for="title">Title</label>
                        <input type="text" class="form-control" name="title" id="title" [(ngModel)]="recordBeingEdited.title">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label for="description">Title</label>
                        <textarea type="text" class="form-control" rows="3" name="description" id="description" [(ngModel)]="recordBeingEdited.description"></textarea>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label for="upVotes">Up Votes</label>
                        <input type="text" class="form-control" name="upVotes" id="upVotes" [(ngModel)]="recordBeingEdited.upVotes">
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label for="createdOn">Reported On</label>
                        <input type="date" class="form-control" name="createdOn" id="createdOn" [(ngModel)]="recordBeingEdited.createdOn">
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" *ngIf="modalViewForRecordDetails_IsOpenForAddNew == true" (click)="createRecord()">Create Record</button>
        <button type="button" class="btn btn-primary" *ngIf="modalViewForRecordDetails_IsOpenForAddNew == false" (click)="updateRecord()">Save Changes</button>
        <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Close</button>
    </div>
</ng-template>