<div class="card">
    <h4 class="card-header">All Registered Students</h4>
    <div class="card-body text-right">
        <button type="button" class="btn btn-primary" (click)="showAddNewRecordForm(modalViewForRecordDetails)">
            Add Student
        </button>
    </div>
    <div class="card-body">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">First Name</th>
                    <th scope="col">Last Name</th>
                    <th scope="col">USC Email</th>
                    <th scope="col">Programme</th>
                    <th scope="col">Core</th>
                    <th scope="col">Class Of</th>
                    <th scope="col">LinkedIn</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let record of listOfAllRecords; let i = index">
                    <th scope="row">{{ i + 1 }}</th>
                    <td>{{ record.firstName }}</td>
                    <td>{{ record.lastName }}</td>
                    <td>{{ record.uscEmail }}</td>
                    <td>{{ record.programme }}</td>
                    <td>{{ record.core }}</td>
                    <td>{{ record.classOf }}</td>
                    <td>{{ record.linkedIn }}</td>
                    <td>
                        <div class="btn-group btn-group-sm" role="group" aria-label="...">
                            <button type="button" class="btn btn-primary" (click)="showEditRecordForm(record._id, modalViewForRecordDetails)">EDIT</button>
                            <button type="button" class="btn btn-danger" (click)="deleteRecord(record._id)">DELETE</button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="card-footer text-muted text-center" [ngPlural]="listOfAllRecords.length">
        <ng-template ngPluralCase="=0">No Record</ng-template>
        <ng-template ngPluralCase="=1">1 Record</ng-template>
        <ng-template ngPluralCase="other">{{listOfAllRecords.length}} Records</ng-template>
    </div>
</div>

<ng-template #modalViewForRecordDetails let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title" *ngIf="modalViewForRecordDetails_IsOpenForAddNew == true">Add Member</h4>
        <h4 class="modal-title" *ngIf="modalViewForRecordDetails_IsOpenForAddNew == false">Edit Member</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label for="firstName">First Name</label>
                        <input type="text" class="form-control" name="firstName" id="firstName" [(ngModel)]="recordBeingEdited.firstName">
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label for="lastName">Last Name</label>
                        <input type="text" class="form-control" name="lastName" id="lastName" [(ngModel)]="recordBeingEdited.lastName">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label for="uscEmail">USC Email Id</label>
                        <input type="text" class="form-control" name="uscEmail" id="uscEmail" [(ngModel)]="recordBeingEdited.uscEmail">
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" name="password" id="password" [(ngModel)]="recordBeingEdited.password">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label for="core">Core</label>
                        <input type="text" class="form-control" name="core" id="core" [(ngModel)]="recordBeingEdited.core">
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label for="classOf">Class Of</label>
                        <input type="text" class="form-control" name="classOf" id="classOf" [(ngModel)]="recordBeingEdited.classOf">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="linkedIn">LinkedIn ID</label>
                <input type="text" class="form-control" name="linkedIn" id="linkedIn" [(ngModel)]="recordBeingEdited.linkedIn">
            </div>
            <div class="form-group">
                <label for="interests">Interests</label>
                <input type="text" class="form-control" name="interests" id="interests" [(ngModel)]="recordBeingEdited.interests">
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label for="accessToken">LinkedIn Access Token</label>
                        <input type="text" class="form-control" name="accessToken" id="accessToken" [(ngModel)]="recordBeingEdited.accessToken">
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label for="accessTokenExpiresInSec">Expires In (seconds)</label>
                        <input type="text" class="form-control" name="accessTokenExpiresInSec" id="accessTokenExpiresInSec" [(ngModel)]="recordBeingEdited.accessTokenExpiresInSec">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label for="linkedInId">LinkedIn ID</label>
                        <input type="text" class="form-control" name="linkedInId" id="linkedInId" [(ngModel)]="recordBeingEdited.linkedInId">
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label for="linkedInProfileUrl">LinkedIn Profile Url</label>
                        <input type="text" class="form-control" name="linkedInProfileUrl" id="linkedInProfileUrl" [(ngModel)]="recordBeingEdited.linkedInProfileUrl">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label for="linkedInOriginalPictureUrl">LinkedIn Original Profile Pic Url</label>
                        <input type="text" class="form-control" name="linkedInOriginalPictureUrl" id="linkedInOriginalPictureUrl" [(ngModel)]="recordBeingEdited.linkedInOriginalPictureUrl">
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label for="linkedInPictureUrl">LinkedIn Profile Pic Url</label>
                        <input type="text" class="form-control" name="linkedInPictureUrl" id="linkedInPictureUrl" [(ngModel)]="recordBeingEdited.linkedInPictureUrl">
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" *ngIf="modalViewForRecordDetails_IsOpenForAddNew == true" (click)="createRecord()">Create Record</button>
        <button type="button" class="btn btn-primary" *ngIf="modalViewForRecordDetails_IsOpenForAddNew == false" (click)="updateRecord()">Save Changes</button>
        <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Close</button>
    </div>
</ng-template>